@font-face {
    font-family: 'MReg';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(Arial);
    src: url(../fonts/Montserrat-Regular.eot) format('eot'), url(../fonts/Montserrat-Regular.otf) format('otf'), url(../fonts/Montserrat-Regular.svg) format('svg'), url(../fonts/Montserrat-Regular.ttf) format('ttf') url(../fonts/Montserrat-Regular.woff) format('woff');
}

@font-face {
    font-family: 'MBold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local(Arial);
    src: url(../fonts/Montserrat-Bold.eot) format('eot'), url(../fonts/Montserrat-Bold.otf) format('otf'), url(../fonts/Montserrat-Bold.svg) format('svg'), url(../fonts/Montserrat-Bold.ttf) format('ttf') url(../fonts/Montserrat-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Segoe';
    font-style: normal;
    font-display: swap;
    src: local(Arial);
    src: url(../fonts/SegoeUI.eot) format('eot'), url(../fonts/SegoeUI.otf) format('otf'), url(../fonts/SegoeUI.svg) format('svg'), url(../fonts/SegoeUI.ttf) format('ttf') url(../fonts/SegoeUI.woff) format('woff');
}

@font-face {
    font-family: 'SegoeL';
    font-style: normal;
    font-display: swap;
    src: local(Arial);
    src: url(../fonts/SegoeUI-Light.eot) format('eot'), url(../fonts/SegoeUI-Light.otf) format('otf'), url(../fonts/SegoeUI-Light.svg) format('svg'), url(../fonts/SegoeUI-Light.ttf) format('ttf') url(../fonts/SegoeUI-Light.woff) format('woff');
}

@font-face {
    font-family: 'SegoeSL';
    font-style: normal;
    font-display: swap;
    src: local(Arial);
    src: url(../fonts/SegoeUI-Semilight.eot) format('eot'), url(../fonts/SegoeUI-Semilight.otf) format('otf'), url(../fonts/SegoeUI-Semilight.svg) format('svg'), url(../fonts/SegoeUI-Semilight.ttf) format('ttf') url(../fonts/SegoeUI-Semilight.woff) format('woff');
}

@font-face {
    font-family: 'SegoeB';
    font-style: normal;
    font-display: swap;
    font-weight: bold;
    src: local(Arial);
    src: url(../fonts/SegoeUI-Bold.eot) format('eot'), url(../fonts/SegoeUI-Bold.otf) format('otf'), url(../fonts/SegoeUI-Bold.svg) format('svg'), url(../fonts/SegoeUI-Bold.ttf) format('ttf') url(../fonts/SegoeUI-Bold.woff) format('woff');
}

@font-face {
    font-family: 'SSPExtraLight';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(Arial);
    src: url(../fonts/SourceSansPro-ExtraLight.eot) format('eot'), url(../fonts/SourceSansPro-ExtraLight.otf) format('otf'), url(../fonts/SourceSansPro-ExtraLight.svg) format('svg'), url(../fonts/SourceSansPro-ExtraLight.ttf) format('ttf') url(../fonts/SourceSansPro-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'SSPReg';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(Arial);
    src: url(../fonts/SourceSansPro-Regular.eot) format('eot'), url(../fonts/SourceSansPro-Regular.otf) format('otf'), url(../fonts/SourceSansPro-Regular.svg) format('svg'), url(../fonts/SourceSansPro-Regular.ttf) format('ttf') url(../fonts/SourceSansPro-Regular.woff) format('woff');
}

@font-face {
    font-family: 'SSPBold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local(Arial);
    src: url(../fonts/SourceSansPro-Bold.eot) format('eot'), url(../fonts/SourceSansPro-Bold.otf) format('otf'), url(../fonts/SourceSansPro-Bold.svg) format('svg'), url(../fonts/SourceSansPro-Bold.ttf) format('ttf') url(../fonts/SourceSansPro-Bold.woff) format('woff');
}

@font-face {
    font-family: 'SSPSemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(Arial);
    src: url(../fonts/SourceSansPro-SemiBold.eot) format('eot'), url(../fonts/SourceSansPro-SemiBold.otf) format('otf'), url(../fonts/SourceSansPro-SemiBold.svg) format('svg'), url(../fonts/SourceSansPro-SemiBold.ttf) format('ttf') url(../fonts/SourceSansPro-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(Arial);
    src: url(../fonts/OpenSans-Regular.eot) format('eot'), url(../fonts/OpenSans-Regular.otf) format('otf'), url(../fonts/OpenSans-Regular.svg) format('svg'), url(../fonts/OpenSans-Regular.ttf) format('ttf') url(../fonts/OpenSans-Regular.woff) format('woff');
}